body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: black;
    margin-bottom: 30px;
}
.ilan{
    background-color: aqua;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.ilan:hover{
    transform: scale(1.02);
}
.ilan-detay{
    padding: 20px;
    text-align:left;
}
.ilan-detay h3{
    margin-top: 0;
    color:black;
}
.ilan-detay p{
    margin:10px;
}
.fiyat{
    font-size: 18px;
    font-weight: bold;
    color:brown;
}
img{
    width: 180px;
    height: 120px;
}